vendor/
composer.lock

config/multi-host.config.php.UNUSED

plugins/*
!plugins/BotBlock/
!plugins/CRUD/
!plugins/ControlPanel/
!plugins/ExamplePlugin/
!plugins/FileMan/
!plugins/LiveCheck/
!plugins/NewPlugin/
!plugins/PHPDevShell/
!plugins/PHPMailer/
!plugins/PHPThumbs/
!plugins/Pagination/
!plugins/PinesNotify/
!plugins/RedBeanORM/
!plugins/Smarty/
!plugins/StandardLogin/
!plugins/TinyMCE/
!plugins/userActions/


themes/*
!themes/cloud
!themes/emptyCloud


write/cache/*
write/compile/*
write/logs/*
write/private/*
write/session/*
write/tmp/*
write/upload/*
!write/*/index.php


bs-config.js
.bzr*
.directory
.idea
.sonar/
sonar-project.properties
PHPDS.sublime*
phpds.sublime-build
index.local.php.disabled
nbproject
npm-debug.log
crossdomain.xml

tests

gzip.php

!**/index.php

